APP_NAME="Mission Nichtrauchen"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=database
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=sparkpost
SPARKPOST_SECRET=
MAIL_FROM_ADDRESS=
MAIL_REPLY_TO=

BUGSNAG_API_KEY=

BACKUP_DRIVER=sftp
BACKUP_HOST=
BACKUP_USERNAME=
BACKUP_PASSWORD=
