// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/css/font-awesome.min.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css";
@import "bootstrap-toggle";
@import "~tinymce/skins/content/default/content.css";

@import "sidebar";
@import "frontend";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.external {
  background-color: #fff;

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff6c0;
  }

  table {
    font-family: 'Roboto Slab', serif;
    th {
      font-weight: bolder;
      color: #333333;
      font-family: 'Oleo Script Swash Caps', cursive;
      font-size: 1.6em;
    }
    td {
      color: #000;
      font-size: 1.2em;
    }
  }
}

table.school-classes {
  i {
    font-size: 1.2em;
  }
}

.frontend > .container {
  margin-top: 2.5em;
  margin-bottom: 4em;
}

.teacher > .container-fluid {
    padding-bottom: 150px;
}

.bg-multiple-classes {
  background-color: rgba(251, 235, 165, 0.4) !important;
}

.bg-multiple-schools {
  background-color: rgba(221, 198, 231, 0.4) !important;
}

.navbar-brand, .display-1, .display-2, .display-3, .display-4, .display-5 {
  font-family: 'Oleo Script Swash Caps', cursive;
}

.single-page {
    body {
        background-image: url('/images/background.jpg');
        background-size: cover;
        background-attachment: fixed;
    }

    .container {
        min-height: 100vh;
        padding-top: 3em;
        padding-bottom: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .row {
            width: 100%;
        }

    }


    .lead {
        font-size: 2em;
    }
}

/** New settings */
.teacher nav#sidebar .nav-link .label {
  position: relative;
}

.teacher nav#sidebar .nav-link .label .menu-docs-new {
  display: block;
  position: absolute;
  right: -15px;
  transform: translate(100%, -50%);
  top: 50%;
  background: #EF4444;
  color: white;
  padding: 7px;
  border-radius: 20px;
  font-size: 10px;
  text-transform: uppercase;
}

.teacher .card .card-header {
  position: relative;
}

.teacher .card .card-header .my-docs-new {
  position: absolute;
  top: -14px;
  right: -19px;
  background: #EF4444;
  color: white;
  padding: 7px 12px;
  border-radius: 20px;
  font-size: 10px;
  text-transform: uppercase;
}
